/* color variables */
$color-black: #000000;
$color-aqua: #8de0c6;
$color-yellow: #fff8be;


.limit-banner{
    background-color: $color-aqua;
    padding: 20px;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    width: 100%;
    
}